

#juegos_disp {
    margin-left: 30px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 30px;
}


#history_menu, #juegos_disp{
	width: auto;
}


#imagenes, #coords{
	display: none;
	visibility: hidden;	
}

#images{
	display: none;
	float: right;
	width: 480px;
	height: 320px;
	margin: 0 auto;

}

#map { 
	float: left;
	width: 540px;
	height: 380px;
	max-width: 100%;
}


#end_game, #images{
	visibility: hidden;
}


#punt_total, #juegos_disp{
	text-align: center;
}

.textos{
	font-size: 140%;
}

#dificultad, #start_game, #end_game{
    margin-left: auto;
    margin-right: auto;
}

#history_menu{
	margin-left: -80px;	
}

#imagen_mostrada {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}


#btn_der{
	margin-right: -39px;
	margin-left: 166px;
}

.mapa{
	padding-top: 5%;
	padding-left:0%; 
	padding-right:0%;
	max-width: 100%;
}


#start_game, #end_game {
    margin-left: 37.3%;
    margin-right: auto;
}
